<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title>Licores MinTIC</title>
  <link rel="stylesheet" href="/no-script.css">
  <link rel="stylesheet" href="/reset.css">
</head>

<body>
  <noscript>
    <div class="no-script">
      <strong>Lo sentimos, esta pagina no funciona sin Javascript</strong>
    </div>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>