<template>
<div id="Catalogo">
    <div class="container">
            <table  class="table">  
                <tr><td><img class="image" src="@/assets/nectar750.jpg" alt="AguardienteNectar750ml"></td>
                    <td><img class="image" src="@/assets/buchanas750.jpg" alt="WhiskyBuchanas750ml"></td>
                    <td><img class="image" src="@/assets/oldparr750.jpg" alt="WhiskyOldParr750ml"></td>
                    <td><img class="image" src="@/assets/santafe750.jpg" alt="RonSantaFe750ml"></td>
                </tr>
                <tr><td>Aguardiente Nectar 750ml</td>
                    <td>Whisky Buchanas 750ml</td>
                    <td>Whisky Old Parr 750ml</td>
                    <td>Ron Santafé 750ml</td>
                </tr>
                <tr><td><button v-if="!is_auth" v-on:click="loadDetalles">Ver más detalles</button></td>
                    <td><button v-if="!is_auth" v-on:click="loadDetalles">Ver más detalles</button></td>
                    <td><button v-if="!is_auth" v-on:click="loadDetalles">Ver más detalles</button></td>
                    <td><button v-if="!is_auth" v-on:click="loadDetalles">Ver más detalles</button></td>
                </tr>
                <tr><td><input type="number"><button>comprar</button></td>
                    <td><input type="number"><button>comprar</button></td>
                    <td><input type="number"><button>comprar</button></td>
                    <td><input type="number"><button>comprar</button></td>
                </tr>
        
            </table>
        </div>
    </div>

    <main>
      <router-view
        v-on:loadDetalles="loadDetalles"
      >
      </router-view>
    </main>

</template>

<script>

export default {
  name: "App",
  computed: {
    is_auth: {
      get: function () {
        return this.$route.meta.requiresAuth;
      },
      set: function () {},
    },
  },
  methods: {
    loadDetalles: function () {
      this.$router.push({ name: "Detalles" });
    },
  },
};
</script>

<style>
#Catalogo {
  width: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

#Catalogo input{
        height: 40px;
        width: 60px;

        box-sizing: border-box;
        padding: 10px 10px;
        margin: 5px 0;

        border: 1px solid #283747;
    }

#Catalogo .container-table{
    width:50%;
    max-height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#Catalogo table {
  width: 100%;
}

#Catalogo table td{
  padding: 8px;
}
#Catalogo table th {
  border: 1px solid #ddd;
  padding: 30px;
}

#Catalogo table tr {
  background-color: white;
}

#Catalogo table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: rgb(18, 73, 175);
  color: white;
}

#Catalogo > h2 {
  color: #283747;
  font-size: 25px;
}

#Catalogo .image {
  max-width: 150px;
  max-height: 150px;
}

#Catalogo .container {
  padding: 30px;
  border-radius: 20px;
  margin: 5% 0 1% 0;
}

#Catalogo  .container h2 {
  font-size: 25px;
  color: #283747;
}
#Catalogo .container span {
  color: crimson;
  font-weight: bold;
}
</style>