<template>

  <div class="information">
    <h1>Detalles del Producto</h1>

    <div class="details">
        <table>
            <tr>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Origen</th>
                <th>Destino</th>
                <th>Valor</th>
            </tr>

            <tr v-for="catalogoLicoresModel in catalogoLicoresModelById" :key="catalogoLicoresModel.id">
                <td>{{ catalogoLicoresModel.tipoLicor }}</td>
                <td>{{ catalogoLicoresModel.nombreLicor }}</td>
                <td>{{ catalogoLicoresModel.precio }}</td>
                <td>{{ catalogoLicoresModel.presentacionLicor }}</td>
            </tr>
        </table>
    </div>
  </div>
  
</template>


<script>
import gql from "graphql-tag";
import jwt_decode from "jwt-decode";

export default {
  name: "Home",

  data: function () {
    return {
      userId: jwt_decode(localStorage.getItem("token_refresh")).user_id,
      userDetailById: {
        username: "",
        name: "",
        email: "",
      },
    };
  },

  apollo: {
    userDetailById: {
      query: gql`
        query ($userId: Int!) {
          userDetailById(userId: $userId) {
            username
            name
            email
          }
        }
      `,
      variables() {
        return {
          userId: this.userId,
        };
      }
    },
  }
};
</script>


<style>

.information {
  margin: 0;
  padding: 0%;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.information h1 {
  font-size: 60px;
  color: #283747;
}

.information h2 {
  font-size: 40px;
  color: #283747;
}

.information span {
  color: crimson;
  font-weight: bold;
}

.details h3 {
  font-size: 35px;
  color: #283747;
  text-align: center;
}

.details h2 {
  font-size: 35px;
  color: #283747;
}
.details {
  border: 3px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 30px 80px;
  margin: 30px 0 0 0;
}

.details table{
    width: 100%;
  border-collapse: collapse;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.details table td,
.details table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.details table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.details table tr:hover {
  background-color: #ddd;
}

.details table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(255, 102, 0);
  color: white;
}

</style>
